{% extends 'monApp/base.html' %}

{% block title %}Mes Produits{% endblock %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <h1>Hello mes produits !</h1>
    <p>Mes produits sont :</p>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom produit</th>
            <th>Prix unitaire</th>
            <th>Date fabrication</th>
            <th>Catégorie</th>
            <th>Statut</th>
            <th colspan="3" style="text-align: center;">Action</th>
        </thead>
        <tbody>
            {% for prdt in prdts %}
            <tr>
                <td>{{ prdt.refProd }}</td>
                <td>{{ prdt.intituleProd | upper }}</td>
                <td>{{ prdt.prixUnitaireProd }}</td>
                <td>{{ prdt.dateFabProd }}</td>
                <td>{{ prdt.categorie }}</td>
                <td>{{ prdt.status }}</td>
                <td><a href="{% url 'dtl_prdt' prdt.refProd %}">Détail</a></td>
                <td><a href="{% url 'prdt-chng' prdt.refProd %}">Modifier</a></td>
                <td><a href="{% url 'dlt-prdt' prdt.refProd %}">Supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Pour créer un nouveau produit cliquer <a href="{% url 'crt-prdt' %}">ici</a>.</h1>

    <p>
        J'ai
        {% if prdts|length < 5 %} 
            peu de 
        {% elif prdts|length < 10 %} 
            quelques 
        {% else %} 
            beaucoup de 
        {% endif %}
            produits préférés. 
    </p>
{% endblock %}


