{% extends 'monApp/base.html' %}

{% block title %}Mes Catégories{% endblock %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <h1>Hello mes catégories !</h1>
    <p>Mes catégories de produits sont :</p>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom catégorie</th>
            <th colspan="2" style="text-align: center;">Action</th>
        </thead>
        <tbody>
            {% for cat in cats %}
            <tr>
                <td><a href="{% url 'dtl_cat' cat.idCat %}">{{ cat.idCat }}</a></td>
                <td>{{ cat.nomCat }}</td>
                <td><a href="{% url 'cat-chng' cat.idCat %}">Modifier</a></td>
                <td><a href="{% url 'dlt-cat' cat.idCat %}">Supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Pour créer une nouvelle catégorie cliquer <a href="{% url 'crt-cat' %}">ici</a>.</h1>

    <p>
        J'ai
        {% if cats|length < 5 %} 
            peu de 
        {% elif cats|length < 10 %} 
            quelques 
        {% else %} 
            beaucoup de 
        {% endif %}
            catégories. 
    </p>
{% endblock %}


