{% extends 'monApp/base.html' %}

{% block title %}Mes Rayons{% endblock %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <h1>Hello mes rayons !</h1>
    <p>Mes rayons sont :</p>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom rayon</th>
        </thead>
        <tbody>
            {% for ray in rayons %}
            <tr>
                <td><a href="{% url 'dtl_rayon' ray.idRayon %}">{{ ray.idRayon }}</a></td>
                <td>{{ ray.nomRayon }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        J'ai
        {% if rayons|length < 5 %} 
            peu de 
        {% elif rayons|length < 10 %} 
            quelques 
        {% else %} 
            beaucoup de 
        {% endif %}
            rayons. 
    </p>
{% endblock %}


