{% extends 'monApp/base.html' %}

{% block title %}Mes Statuts{% endblock %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <h1>Hello mes statuts !</h1>
    <!-- Barre de recherche -->
    <p class="lead mb-3 ml-0">Rechercher un élément...</p>
    <form style="display: flex; align-items: center;" method="GET" action="">
        <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche" value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-success mt-2">Rechercher</button>
    </form>
    <p>Mes status de produits sont :</p>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom statut</th>
            <th>Nombre de Produits</th>
            <th colspan="3" style="text-align: center;">Action</th>
        </thead>
        <tbody>
            {% for stat in stats %}
            <tr>
                <td>{{ stat.idStatus }}</td>
                <td>{{ stat.libelleStatus }}</td>
                <td>{{ stat.nb_produits }}</td>
                <td><a href="{% url 'dtl_stat' stat.idStatus %}">Détail</a></td>
                <td><a href="{% url 'stat-chng' stat.idStatus %}">Modifier</a></td>
                <td><a href="{% url 'dlt-stat' stat.idStatus %}">Supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Pour créer un nouveau statut cliquer <a href="{% url 'crt-stat' %}">ici</a>.</h1>

    <p>
        J'ai
        {% if stats|length < 5 %} 
            peu de 
        {% elif stats|length < 10 %} 
            quelques 
        {% else %} 
            beaucoup de 
        {% endif %}
            statut. 
    </p>
{% endblock %}


