{% extends 'monApp/base.html' %}

{% block title %}Mes Statuts{% endblock %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <h1>Hello mes statuts !</h1>
    <p>Mes status de produits sont :</p>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom statut</th>
        </thead>
        <tbody>
            {% for stat in stats %}
            <tr>
                <td><a href="{% url 'dtl_stat' stat.idStatus %}">{{ stat.idStatus }}</a></td>
                <td>{{ stat.libelleStatus }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        J'ai
        {% if stats|length < 5 %} 
            peu de 
        {% elif stats|length < 10 %} 
            quelques 
        {% else %} 
            beaucoup de 
        {% endif %}
            statut. 
    </p>
{% endblock %}


